.u-section-1 .u-sheet-1 {
  min-height: 1174px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  --radius: 50px;
  background-image: none;
  border-style: double;
  margin: 49px 0 0;
  padding: 12px 523px 13px 522px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.2667em;
  margin-left: 0;
  vertical-align: 0px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9375rem;
  --radius: 50px;
  background-image: none;
  border-style: double;
  margin: 20px 0 0;
  padding: 12px 456px 13px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  font-size: 0.9375rem;
  --radius: 50px;
  background-image: none;
  border-style: double;
  margin: 20px 0 0;
  padding: 12px 533px 13px 531px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  font-size: 0.9375rem;
  --radius: 50px;
  background-image: none;
  border-style: double;
  margin: 20px 0 0;
  padding: 12px 537px 13px 535px;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  font-size: 0.9375rem;
  --radius: 50px;
  background-image: none;
  border-style: double;
  margin: 20px auto 0 0;
  padding: 12px 529px 13px 528px;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  font-size: 0.9375rem;
  --radius: 50px;
  background-image: none;
  border-style: double;
  margin: 20px auto 0 0;
  padding: 12px 496px 13px 495px;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  font-size: 0.9375rem;
  --radius: 50px;
  background-image: none;
  border-style: double;
  margin: 20px auto 0 0;
  padding: 12px 539px 13px;
}

.u-section-1 .u-btn-8 {
  font-weight: 700;
  font-size: 0.9375rem;
  --radius: 50px;
  background-image: none;
  border-style: double;
  margin: 20px auto 0 0;
  padding: 12px 530px 13px;
}

.u-section-1 .u-btn-9 {
  font-weight: 700;
  font-size: 0.9375rem;
  --radius: 50px;
  background-image: none;
  border-style: double;
  margin: 20px auto 0 0;
  padding: 12px 540px 13px 539px;
}

.u-section-1 .u-btn-10 {
  font-weight: 700;
  font-size: 0.9375rem;
  --radius: 50px;
  background-image: none;
  border-style: double;
  margin: 20px auto 0 0;
  padding: 12px 522px 13px 521px;
}

.u-section-1 .u-btn-11 {
  font-weight: 700;
  font-size: 0.9375rem;
  --radius: 50px;
  background-image: none;
  border-style: double;
  margin: 20px auto 0 0;
  padding: 12px 538px 13px 537px;
}

.u-section-1 .u-btn-12 {
  font-weight: 700;
  font-size: 0.9375rem;
  --radius: 50px;
  background-image: none;
  border-style: double;
  margin: 20px auto 0 0;
  padding: 12px 540px 13px;
}

.u-section-1 .u-btn-13 {
  font-weight: 700;
  font-size: 0.9375rem;
  --radius: 50px;
  background-image: none;
  border-style: double;
  margin: 20px auto 0 0;
  padding: 12px 532px 13px;
}

.u-section-1 .u-btn-14 {
  font-weight: 700;
  font-size: 0.9375rem;
  --radius: 50px;
  background-image: none;
  border-style: double;
  margin: 20px auto 0 0;
  padding: 12px 529px 13px 528px;
}

.u-section-1 .u-btn-15 {
  font-weight: 700;
  font-size: 0.9375rem;
  --radius: 50px;
  background-image: none;
  border-style: double;
  margin: 20px auto 20px 0;
  padding: 12px 538px 13px 537px;
}