 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 624px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 508px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
  background-size: cover;
  --radius: 23px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 48px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 78px auto 0;
}

.u-section-1 .u-form-1 {
  height: 207px;
  width: 664px;
  --checkbox-checked-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  margin: 48px auto 0;
}

.u-section-1 .u-input-1 {
  --radius: 10px;
  height: 48px;
}

.u-section-1 .u-input-2 {
  --radius: 10px;
  height: 48px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  --radius: 50px;
  background-image: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 18px 583px 0 421px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: -32px 429px 18px 561px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 481px;
    margin-left: 347px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 329px;
    margin-left: 461px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 368px;
    margin-left: 266px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 219px;
    margin-left: 351px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-right: 276px;
    margin-left: 200px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-right: 129px;
    margin-left: 261px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 174px;
    margin-left: 126px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 29px;
    margin-left: 161px;
  }
}