.u-section-1 .u-sheet-1 {
  min-height: 1103px;
}

.u-section-1 .u-list-1 {
  margin: 34px 0 60px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 24px);
  grid-template-columns: repeat(3, calc(33.3333% - 24px));
  min-height: 995px;
  grid-gap: 36px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  min-height: 221px;
  height: auto;
  width: 304px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-size: cover;
  --top-right-radius: 50px;
  box-shadow: 5px -7px 8px 0px rgba(0,0,0,0.3);
  margin: 271px 69px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 19px 19px 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0 19px;
}

.u-section-1 .u-text-3 {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 7px 19px 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 7px 19px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  min-height: 221px;
  height: auto;
  width: 304px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-size: cover;
  --top-right-radius: 50px;
  box-shadow: 5px -7px 8px 0px rgba(0,0,0,0.3);
  margin: 271px 69px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 19px 19px 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0 19px;
}

.u-section-1 .u-text-7 {
  font-size: 0.75rem;
  margin: 7px 19px 0;
}

.u-section-1 .u-text-8 {
  font-size: 0.75rem;
  margin: 7px 19px 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  min-height: 221px;
  height: auto;
  width: 304px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-size: cover;
  --top-right-radius: 50px;
  box-shadow: 5px -7px 8px 0px rgba(0,0,0,0.3);
  margin: 271px 69px 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 19px 19px 0;
}

.u-section-1 .u-text-10 {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0 19px;
}

.u-section-1 .u-text-11 {
  font-size: 0.75rem;
  margin: 7px 19px 0;
}

.u-section-1 .u-text-12 {
  font-size: 0.75rem;
  margin: 7px 19px 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-group-4 {
  min-height: 221px;
  height: auto;
  width: 304px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-size: cover;
  --top-right-radius: 50px;
  box-shadow: 5px -7px 8px 0px rgba(0,0,0,0.3);
  margin: 271px 69px 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 19px 19px 0;
}

.u-section-1 .u-text-14 {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0 19px;
}

.u-section-1 .u-text-15 {
  font-size: 0.75rem;
  margin: 7px 19px 0;
}

.u-section-1 .u-text-16 {
  font-size: 0.75rem;
  margin: 7px 19px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 24px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 24px));
    min-height: 815px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-weight: 400;
  }

  .u-section-1 .u-text-2 {
    font-weight: 700;
    margin-right: 18px;
  }

  .u-section-1 .u-text-3 {
    font-weight: 700;
  }

  .u-section-1 .u-text-4 {
    font-weight: 700;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-5 {
    font-weight: 400;
  }

  .u-section-1 .u-text-6 {
    font-weight: 700;
    margin-right: 18px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 18px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-text-9 {
    font-weight: 400;
  }

  .u-section-1 .u-text-10 {
    font-weight: 700;
    margin-right: 18px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 18px;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-text-13 {
    font-weight: 400;
  }

  .u-section-1 .u-text-14 {
    font-weight: 700;
    margin-right: 18px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 18px);
    grid-template-columns: repeat(2, calc(50% - 18px));
    min-height: 957px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-13 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-group-1 {
    margin-right: 36px;
  }

  .u-section-1 .u-group-2 {
    margin-right: 36px;
  }

  .u-section-1 .u-group-3 {
    margin-right: 36px;
  }

  .u-section-1 .u-group-4 {
    margin-right: 36px;
  }
}