{% extends "templates/main.html" %}

{% block importCss %}
<link rel="stylesheet" href="{{ web_path }}/public/css/categorias.css" media="screen">
{% endblock %}

{% block titulo2 %}categorias{% endblock %}

{% block main %}
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <section class="u-clearfix u-section-1" id="sec-159e">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="{{ web_path }}/categorias/literatura" class="u-active-white u-border-3 u-border-active-black u-border-hover-black u-border-white u-btn u-btn-round u-button-style u-custom-color-1 u-hover-white u-radius u-text-active-black u-text-hover-black u-btn-1">LITERATURA&nbsp;<span class="u-file-icon u-icon u-opacity u-opacity-0 u-text-white u-icon-1"><img src="{{ web_path }}/resources/imgs/2012281-8307704f.png" alt=""></span>
        </a>
        <a href="#" class="u-border-3 u-border-active-black u-border-hover-black u-border-white u-btn u-btn-round u-button-style u-custom-color-1 u-hover-white u-radius u-text-hover-black u-btn-2"> BIOGRAFIA E AUTOBIOGRAFIA </a>
        <a href="#" class="u-active-white u-border-3 u-border-active-black u-border-hover-black u-border-white u-btn u-btn-round u-button-style u-custom-color-1 u-hover-white u-radius u-text-active-black u-text-hover-black u-btn-3"> COMÉDIA</a>
        <a href="#" class="u-active-white u-border-3 u-border-active-black u-border-hover-black u-border-white u-btn u-btn-round u-button-style u-custom-color-1 u-hover-white u-radius u-text-active-black u-text-hover-black u-btn-4"> CONTOS</a>
        <a href="#" class="u-active-white u-border-3 u-border-active-black u-border-hover-black u-border-white u-btn u-btn-round u-button-style u-custom-color-1 u-hover-white u-radius u-text-active-black u-text-hover-black u-btn-5"> CRÔNICAS</a>
        <a href="#" class="u-active-white u-border-3 u-border-active-black u-border-hover-black u-border-white u-btn u-btn-round u-button-style u-custom-color-1 u-hover-white u-radius u-text-active-black u-text-hover-black u-btn-6"> DISTOPIA E UTOPIA</a>
        <a href="#" class="u-active-white u-border-3 u-border-active-black u-border-hover-black u-border-white u-btn u-btn-round u-button-style u-custom-color-1 u-hover-white u-radius u-text-active-black u-text-hover-black u-btn-7"> DRAMA</a>
        <a href="#" class="u-active-white u-border-3 u-border-active-black u-border-hover-black u-border-white u-btn u-btn-round u-button-style u-custom-color-1 u-hover-white u-radius u-text-active-black u-text-hover-black u-btn-8"> FANTASIA</a>
        <a href="#" class="u-active-white u-border-3 u-border-active-black u-border-hover-black u-border-white u-btn u-btn-round u-button-style u-custom-color-1 u-hover-white u-radius u-text-active-black u-text-hover-black u-btn-9"> FICÇÃO</a>
        <a href="#" class="u-active-white u-border-3 u-border-active-black u-border-hover-black u-border-white u-btn u-btn-round u-button-style u-custom-color-1 u-hover-white u-radius u-text-active-black u-text-hover-black u-btn-10"> LITERATURA<br>
        </a>
        <a href="#" class="u-active-white u-border-3 u-border-active-black u-border-hover-black u-border-white u-btn u-btn-round u-button-style u-custom-color-1 u-hover-white u-radius u-text-active-black u-text-hover-black u-btn-11"> HUMOR</a>
        <a href="#" class="u-active-white u-border-3 u-border-active-black u-border-hover-black u-border-white u-btn u-btn-round u-button-style u-custom-color-1 u-hover-white u-radius u-text-active-black u-text-hover-black u-btn-12"> POESIA</a>
        <a href="#" class="u-active-white u-border-3 u-border-active-black u-border-hover-black u-border-white u-btn u-btn-round u-button-style u-custom-color-1 u-hover-white u-radius u-text-active-black u-text-hover-black u-btn-13"> RELIGIÃO</a>
        <a href="#" class="u-active-white u-border-3 u-border-active-black u-border-hover-black u-border-white u-btn u-btn-round u-button-style u-custom-color-1 u-hover-white u-radius u-text-active-black u-text-hover-black u-btn-14">ROMANCE </a>
        <a href="#" class="u-active-white u-border-3 u-border-active-black u-border-hover-black u-border-white u-btn u-btn-round u-button-style u-custom-color-1 u-hover-white u-radius u-text-active-black u-text-hover-black u-btn-15"> TERROR</a>
      </div>
    </section>  
</body>
{% endblock %}

{% block footer %}
  {{ parent() }}
{% endblock %}